*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.menu{
    border: 1px solid;
    height: 35px;
}

.menu-options{
    border: 1px solid pink;
    height: 50px;
}

.formula{
    border: 1px solid;
    height: 35px;
}

.cells{
    height: calc(100vh - 155px);
    overflow: auto;
}

.row{
    display: flex;
}
.cell{
    border: 1px solid;
    min-width: 70px;
    min-height: 25px;
}

.sheets{
    border: 1px solid blue;
    height: 35px;
}