*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.menu{
    /* border: 1px solid; */
    height: 35px;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.menu div{
    min-width: 60px;
    cursor: pointer;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file{

}

.file-menu-options{
    display: flex;
}

.file-menu-options div{
    min-width: 60px;
    text-align: center;
    cursor: pointer;
}

.home{

}

.menu-options{
    /* border: 1px solid pink; */
    height: 50px;
    display: flex;
    align-items: center;
}

.formula{
    border: 1px solid;
    height: 35px;
}

.content{
    height: calc(100vh - 155px);
    overflow: auto;
    position: relative;
}

.cells{
    position: absolute;
    left: 30px;
    top: 25px;
}

.top-left-cell{
    background: lightgray;
    width: 30px;
    height: 25px;
    position: absolute;
    z-index: 3;
}

.top-row{
    display: flex;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 2;
}


.top-row-cell{
    border: 1px solid;
    min-width: 70px;
    min-height: 25px;
    text-align: center;
    background: lightgreen;
}

.left-col{
    position: absolute;
    top: 25px;
    z-index: 2;
}

.left-col-cell{
    height: 25px;
    border: 1px solid;
    width: 30px;
    background: lightgreen;
    text-align: center;
}

.row{
    display: flex;
}
.cell{
    border: 1px solid;
    min-width: 70px;
    max-width: 70px;
    min-height: 25px;
}

.sheets{
    border: 1px solid blue;
    height: 35px;
}

.hide{
    display: none;
}
.active{
    background: lightgreen;
    color: white;
    border-radius: 25px;
}